<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hairapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ReviewReviseActivity"></activity>
        <activity android:name=".PleaseReviseActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxMziKD1wvqiMW-NJuKCRcqEoBeofwsv8" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.hairapplication"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterDesignerActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".PleaseContentsActivity" />
        <activity android:name=".ReviewContentsActivity" />
        <activity android:name=".ReviewWriteActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".M_stylingActivity" />
        <activity android:name=".M_colorActivity" />
        <activity android:name=".M_pumActivity" />
        <activity android:name=".M_clinicActivity" />
        <activity android:name=".M_cutActivity" />
        <activity android:name=".W_clinicActivity" />
        <activity android:name=".W_stylingActivity" />
        <activity android:name=".W_pumActivity" />
        <activity android:name=".W_cutActivity" />
        <activity android:name=".W_colorActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".MyWritingActivity" />
        <activity android:name=".InfoChangeActivity" />
    </application>

</manifest>